<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/sun-and-cloud.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by <a href="https://github.com/vuquangtrung1996/node3-weather-website">tvu67</a>. It used data from <a href="http://positionstack.com">positionstack.com</a> and <a href="http://weatherstack.com">weatherstack.com</a> !</p>
        <img class="portrait" src="/img/CR7.jpg" alt="">

    </div>
    {{>footer}}
</body>
</html>